.gray-background {
    background-color: 	#F5F5F5;
    padding-right: 5%;
    padding-left: 5%;
}

.cougar-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
<<<<<<< HEAD
    
=======
>>>>>>> footer-1
}